body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    // .content {
    //  font-size: 14 px;
    //  }
    //  h1 {
    //   color: black;
    //  }
        /* Relative font sizes */
    --font-smallest: 0.07em;
    --font-smaller: 0.0775em;
    --font-small: 0.0833em;
    /* UI font sizes */
    --font-ui-smaller: 1px;
    --font-ui-small: 1px;
    --font-ui-medium: 1px;
    --font-ui-large: 1px;
    /* Font weights */
    --font-thin: 10;
    --font-extralight: 20;
    --font-light: 30;
    --font-normal: 40;
    --font-medium: 50;
    --font-semibold: 60;
    --font-bold: 70;
    --font-extrabold: 80;
    --font-black: 90;
}
