body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   //background-color: white;
   // .content {
   //   font-size: 12 px;
   //   }
   //   h1 {
   //    color: black;
   //  }
//.markdown-preview-view h1 {font-weight: 700;font-size: 28px;color:#000000}
//.markdown-preview-view h2 {font-weight: 600;font-size: 23px;color:#333333}
//.markdown-preview-view h3 {font-weight: 550;font-size: 18px;color:#666666}
//.markdown-preview-view h4 {font-weight: 400;font-size: 16px;color:#ff5555}
//.markdown-preview-view h5 {font-weight: 400;font-size: 14px;color:#ff5555}
//.markdown-preview-view h6 {font-weight: 400;font-size: 12px;color:#ff5555}

:root
{
    --font-size-normal:              9px;
    --font-size-code:                15px;
    --font-size-side-dock:           15px;
    --font-size-side-dock-title:     15px;
    --font-size-status-bar:          15px;
    --font-size-h1:                  28px;
    --font-size-h2:                  23px;
    --font-size-h3:                  18px;
    --font-size-h4:                  16px;
    --font-size-h5:                  14px;
    --font-size-h6:                  12px;
} 


/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-size: var(--font-size-normal);
 }

/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
  font-size: var(--font-size-normal);
}
}
